header{
   display: flex;
   align-items: center;
   height: 80px;
   background-color: #ADD8E6;
}
.container-header{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #DAA520;
    display: flex;
    height: 50px;
    
}

.container-header>*{
    min-width: 300px;
    border: 1px dashed black;
    display: flex;
    align-items: center;
}

.container-header> nav{
    flex-grow: 1;
}

nav{
    justify-content: center;

}

.login{
    justify-content: flex-end;
    padding-right: 4px;
}

.logo{
    padding-left: 4px;
}

.blu{
    background-color: #00008B;
    align-items: center;
}

.pink{
    border: 1px dashed black;
    background-color: #EE82EE;
    margin: 0 auto;
    height: 350px;
    width: 800px;  
}

.white>*{
    height: 350px;
    max-width: 600px;
}

.sky{
    background-color: #1E90FF;
    width: 75%;
    
}

.light-pink{
    background-color: #EE82EE;
    width: 25%;
    
}

.grey{
    background-color: #D3D3D3;
}

.grey>* {
    height: 350px;
    max-width: 600px;
}

.reverse{
    flex-direction: row-reverse;
}

.green{
    margin: 25px;
    justify-content: center;
    background-color: #228B22;
    height: 600px;
    width: 600px;
}