/* Utils */

.container {
	width: 1200px;
	margin: 0 auto;
	display: flex;

}

a{
	text-decoration: none;
	color: #1E1E1E;
}

section {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

section>*{
	border: 2px dashed black;
	width: 1200px;
	margin: 0 auto;
	
}